<div class="header-div">
    <h1 class="text">{{chosenOrganization?.name}}</h1>
</div>

<button mat-icon-button class="back-button" (click)="redirectToConfRooms()">
    <mat-icon>keyboard_backspace</mat-icon>
</button>

<hr>

<h3 class="reservations">Reservations</h3>

<div  class="table-div">
  <table id="reservations">
      <tr>
          <th>Conference Room Name</th>
          <th>From </th>
          <th>To </th>
          <th></th>
      </tr>
      <tr *ngFor="let reservation of reservations">
          <td class="column">{{reservation.conferenceRoomDto.name}}</td>
          <td class="column">{{reservation.starting.split('T')[0]}} {{reservation.starting.split('T')[1]}}</td>
          <td class="column">{{reservation.ending.split('T')[0]}} {{reservation.ending.split('T')[1]}}</td>
          <td class="column">
              <button mat-button color="primary" (click)="openDeleteReservationModal(reservation)">Delete</button>
          </td>
      </tr>
    </table>
</div>

<div id="delete-reservation" class="modal">
  <button mat-icon-button class="close" (click)="closeDeleteReservationModal()">
      <mat-icon>close</mat-icon>
  </button>
  <p>Do you want to delete reservation <b>{{reservationToDelete?.id}}</b> for the room {{reservationToDelete?.conferenceRoomDto?.name}}?</p>
  <button mat-raised-button color="primary" (click)="deleteReservation()">Delete</button>
  <button mat-raised-button color="primary" class="cancel-button" (click)="closeDeleteReservationModal()">Cancel</button>
</div>









  
  


