.reservations {
    text-align: center;
    font-size: 25px;
}

.choose {
    text-align: center;
    font-size: 25px;
}

.table-div {
    display: grid;
    margin-bottom: 2%;
}

#reservations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(73, 73, 189);
    color: white;
}

#reservations td, #reservations th {
    border: 1px solid rgb(0, 0, 0);
}

#reservations tr:nth-child(even){
    background-color: #f2f2f2;
}

.column {
    text-align: center;
}

.close {
    float: right;
}

.modal {
    background-color: white;
    position: absolute;
    display: none;
    border-style: solid;
    border: 1px;
    padding: 25px;
    top: 25%;
    right: 40%;
}

.cancel-button {
    float: right;
}

.button-container{
    text-align: center;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
}


