.room-content {
    margin: 5px;
}

.room-name {
    color: black;
}

.availability {
    margin-right: 25%;
}

.unavailable {
    color: rgb(215,59,62);
}

.available {
    color: green;
}

.room-details {
    text-align: center;
}

.book-button {
    float: right;
}

.close-button {
    float: right;
}

.delete-button {
    position: absolute;
    right: 1.5%;
}

.edit-button {
    position: absolute;
    right: 6%;
    top: 90px;
}

.mat-delete {
    background-color: rgb(215,59,62);
    color: white;
}

.toolbar {
    text-align: center;
}

.cancel-button {
    float: right;
}

.date-label {
    font-size: 13px;
}

.choose-date {
    text-align: center;
}

.date-info {
    text-align: center;
}

.modal {
    display: none;
    padding: 25px;
    border: 1px;
    border-style: solid;
    background-color: white;
    position: absolute;
    top: 19%;
    left: 43%;
}

#delete-modal {
    top: 25%;
    left: 41%;
}

#booking-modal {
    top: 25%;
    left: 33%;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
}