.room-content {
    margin: 5px;
}

.room-name {
    color: black;
}

.availability {
    margin-right: 25%;
}

.unavailable {
    color: rgb(215,59,62);
}

.available {
    color: green;
}

.room-details {
    text-align: center;
}

.book-button {
    float: right;
}

.close-button {
    float: right;
}

.delete-button {
    position: absolute;
    right: 1.5%;
}

.edit-button {
    position: absolute;
    right: 6%;
    top: 37%
}

.mat-delete {
    background-color: rgb(215,59,62);
    color: white;
}

#add-room-form {
    padding: 10px;
    border: 1px;
    border-style: solid;
    background-color: white;
    position: absolute;
    right: 43%;
    top: 17%;
}

.toolbar {
    text-align: center;
}

.deleting-room-info {
    display: none;
    padding: 25px;
    border: 1px;
    border-style: solid;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 41%;
}

.cancel-button {
    float: right;
}

.date-div {
    border: 1px;
    border-style: solid;
    display: none;
    position: absolute;
    background-color: white;
    padding: 25px;
    top: 15%;
    right: 25%;
}

.date-label {
    font-size: 13px;
}

.choose-date {
    text-align: center;
}

.date-info {
    text-align: center;
}

#edit-form {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px;
    border-style: solid;
    top: 30%;
    left: 30%;
    padding: 25px;
}




