.room-content {
    margin: 5px;
}

.room-name {
    color: black;
}

.availability {
    margin-right: 25%;
}

.room-details {
    text-align: center;
}

.book-button {
    float: right;
}

.close-button {
    float: right;
}

.delete-button {
    position: absolute;
    right: 1.5%;
}

#add-room-form {
    padding: 10px;
    border: 1px;
    border-style: solid;
    background-color: white;
    position: absolute;
    right: 15%;
}

.toolbar {
    text-align: center;
}

