<div class="header-div">
    <h1 class="text">{{chosenOrganization?.name}}</h1>
</div>
<div class="toolbar">
    <button mat-flat-button color="primary"  (click)="openAddForm()">Add conference room</button>    
    <button mat-flat-button color="primary" (click)="openDateForm()">Choose date</button>
</div>

<hr>
<h3 *ngIf="startDateToDisplay != null" class="date-info">Conference rooms for date: from {{startDateToDisplay}} to {{endDateToDisplay}}</h3>
<h3 class="date-info" *ngIf="startDateToDisplay == null">All rooms</h3>

<div id="error-message"></div>

<div *ngFor="let room of conferenceRooms; let i = index">

    <mat-expansion-panel class="room-content" >
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{i + 1}}
            </mat-panel-title>
            <mat-panel-description class="room-name">
                {{room.name}} 
            </mat-panel-description>
            <div class="availability" *ngIf="startDateToDisplay != null">
                <mat-icon *ngIf="room.available; else unavailable" class="available">check</mat-icon>
                <ng-template #unavailable>
                    <mat-icon class="unavailable">cancel</mat-icon>
                </ng-template>
            </div>
          </mat-expansion-panel-header>
          <hr>

        <button mat-raised-button color="primary" class="edit-button" (click)="openEditForm(room)">Edit</button>
        <div class="delete-button">
            <button mat-fab color="delete" (click)="openDeleteModal(room)">
              <mat-icon>delete</mat-icon>
            </button>
        </div>

        <div class="room-details">
            <p>Level: {{room.level}}</p>
            <p>Sitting places: {{room.sittingPlaces}}</p>
            <p>Standing places: {{room.standingPlaces}}</p>
        </div>

        <div *ngIf="startDateToDisplay != null">
            <button *ngIf="room.available" mat-raised-button class="book-button" (click)="openBookingModal(room)">Book this room</button>
        </div>
        
    </mat-expansion-panel>

</div>

<div id="add-room-form" class="modal">
    <button mat-icon-button class="close-button" (click)="closeAddForm()">
        <mat-icon>close</mat-icon>
    </button>
    <form #addForm="ngForm" (ngSubmit)="addRoom(addForm)">
        <mat-form-field class="form-item" appearance="fill">
          <mat-label>Room name</mat-label>
          <input matInput  type="text" id="name" ngModel="" name="name" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Level</mat-label>
            <input matInput  type="number" id="level" ngModel="" name="level" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Sitting places</mat-label>
            <input matInput  type="number" id="sittingPlaces" ngModel="" name="sittingPlaces">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Standing places</mat-label>
          <input matInput  type="number" id="standingPlaces" ngModel="" name="standingPlaces">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid">Add</button>
    </form>
</div>

<div id="delete-modal" class="modal">
    <p>Do you want to delete room <b>{{roomToDelete?.name}}</b>?</p>
    <button mat-raised-button color="primary" class="del-button" (click)="deleteRoom()">Delete</button>
    <button mat-raised-button color="primary" class="cancel-button" (click)="closeDeleteModal()">Cancel</button>
</div>

<div id="date-div" class="modal">
    <button mat-icon-button class="close-button" (click)="closeDateForm()">
        <mat-icon>close</mat-icon>
    </button>
    <form #dateForm="ngForm" (ngSubmit)="chooseDatePeriod(dateForm)">
        <mat-form-field>
            <label class="date-label">Date</label>
            <input matInput type="date" id="date" ngModel name="date" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <label class="date-label">Start time</label>
            <input matInput type="time" id="startTime" ngModel name="startTime" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <label class="date-label">End time</label>
            <input matInput type="time" id="endTime" ngModel name="endTime" required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="dateForm.value.startTime > dateForm.value.endTime || dateForm.invalid">Accept</button>
    </form>
</div>

<div id="edit-form" class="modal">
    <button mat-icon-button class="close-button" (click)="closeEditForm()">
        <mat-icon>close</mat-icon>
    </button>
    <form #editForm="ngForm" (ngSubmit)="editRoom(editForm)">
        <mat-form-field class="form-item" appearance="fill">
            <mat-label>Room name</mat-label>
            <input matInput  type="text" id="name" ngModel="{{roomToEdit?.name}}" name="name" required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
              <mat-label>Level</mat-label>
              <input matInput  type="number" id="level" ngModel="{{roomToEdit?.level}}" name="level" required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
              <mat-label>Sitting places</mat-label>
              <input matInput  type="number" id="sittingPlaces" ngModel="{{roomToEdit?.sittingPlaces}}" name="sittingPlaces">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Standing places</mat-label>
            <input matInput  type="number" id="standingPlaces" ngModel="{{roomToEdit?.standingPlaces}}" name="standingPlaces">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Accept</button>
    </form>
</div>

<div id="booking-modal" class="modal">
    <p>Do you want to book room <b>{{roomToBook?.name}}</b> from {{startDateToDisplay}} to {{endDateToDisplay}}?</p>
    <button mat-raised-button color="primary" class="del-button" (click)="bookRoom()">Book</button>
    <button mat-raised-button color="primary" class="cancel-button" (click)="closeBookingModal()">Cancel</button>
</div>
