<div id="toolbar">
  <mat-toolbar color="primary" class="nav">

    <a mat-icon-button href="rooms">
      <mat-icon>home</mat-icon>
    </a>

    <button mat-icon-button id="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <span >Conference room reservation App</span>

    <div class="org-menu">
      <button mat-button [matMenuTriggerFor]="menu">Organization name</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>

  </mat-toolbar>
</div>
<hr>

<router-outlet></router-outlet>

<hr>
<div class="footer-div">
  <h3 class="welcome">footer</h3>
</div>