.text {
    text-align: center;
    color: white;
}

.header-div, .toolbar {
    background-color: rgb(73, 73, 189);
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-div {
    background-color: rgb(73, 73, 189);
    padding-top: 5px;
    padding-bottom: 5px;
}